n8n-workflows/fathom-transcript-processor.json
{
  "name": "Fathom Transcript Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "filters": {
          "q": "from:notifications@fathom.video is:unread newer_than:1d",
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "gmail-search",
      "name": "Search Fathom Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [420, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "T4WSl4F4r2fniAwu",
          "name": "Gmail (aiui.teams)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-emails",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-emails",
      "name": "Has Fathom Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open-webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENWEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a meeting transcript summarizer. From the email below (which contains a meeting recording notification from Fathom), extract:\\n1. **Summary** (3-5 bullet points of what was discussed)\\n2. **Action Items** (who does what, with names if mentioned)\\n3. **Key Decisions** made during the meeting\\n\\nIf the email only contains a link to the recording (not the full transcript), summarize what you can from the subject line, snippet, and any text in the email body. Note that the full recording is available at the Fathom link.\\n\\nFormat the output in clean markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Fathom Meeting Recording Email:\\n\\nSubject: {{ $('Search Fathom Emails').item.json.subject }}\\nDate: {{ $('Search Fathom Emails').item.json.date }}\\n\\nEmail Body:\\n{{ $('Search Fathom Emails').item.json.textPlainBody || $('Search Fathom Emails').item.json.snippet }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "summarize-transcript",
      "name": "Summarize with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open-webui:8080/api/v1/files/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENWEBUI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "prepare-kb-content",
      "name": "Prepare KB Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "// Build transcript document for KB\nconst email = $('Search Fathom Emails').first().json;\nconst summary = $('Summarize with AI').first().json;\n\nconst aiContent = summary.choices?.[0]?.message?.content || 'No summary generated';\nconst subject = email.subject || 'Meeting Recording';\nconst date = email.date || new Date().toISOString();\nconst body = email.textPlainBody || email.snippet || '';\n\nconst document = `# ${subject}\\n\\n**Date:** ${date}\\n\\n## AI Summary\\n\\n${aiContent}\\n\\n---\\n\\n## Original Email Content\\n\\n${body}`;\n\n// Return for next node to save via KB API\nreturn [{\n  json: {\n    subject,\n    date,\n    summary: aiContent,\n    full_document: document,\n    email_id: email.id\n  }\n}];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open-webui:8080/api/v1/knowledge/df85ceb3-ae71-404a-b145-cff9c1a7875d/file/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENWEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.full_document) }},\n  \"filename\": \"{{ $json.subject.replace(/[^a-zA-Z0-9 ]/g, '').substring(0, 60) }}.md\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "save-to-kb",
      "name": "Save to Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-handler:8086/api/discord/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_id\": \"1475498065518661797\",\n  \"content\": \"**Meeting Transcript Processed**\\n\\n**{{ $('Prepare KB Content').item.json.subject }}**\\n\\n{{ $('Prepare KB Content').item.json.summary.substring(0, 1800) }}\\n\\n_Saved to Knowledge Base: Meeting Transcripts_\"\n}",
        "options": {}
      },
      "id": "post-to-discord",
      "name": "Post Summary to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Search Fathom Emails').item.json.id }}"
      },
      "id": "mark-as-read",
      "name": "Mark Email as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1520, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "T4WSl4F4r2fniAwu",
          "name": "Gmail (aiui.teams)"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Search Fathom Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Fathom Emails": {
      "main": [
        [
          {
            "node": "Has Fathom Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fathom Emails?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Prepare KB Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare KB Content": {
      "main": [
        [
          {
            "node": "Save to Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Knowledge Base": {
      "main": [
        [
          {
            "node": "Post Summary to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Email as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
